.brand-logo {
    padding: 0 !important;
    background-color: rgb(255, 237, 159) !important;
}

.img-logo {
    width: 50px !important
}

.icon-menu {
    color: rgb(255, 237, 159) !important;
}

.icon-main {
    margin-left: -5px !important;
    font-size: 27px !important;
}

.img-dog {
    text-align: center !important;
    vertical-align: middle !important;
}

.text-label {
    font-size: small;
}

